In [1]:
import pandas as pd
import numpy as np
import random

## Import data

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/kishore-s-gowda/Machine_Learning/main/Data/kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df=df.drop(['id','date'],axis=1)

In [4]:
df.shape

(21597, 19)

Lets reduce the data as this is just an example to

In [5]:
df=df.sample(frac=0.1)

## Spliiting of data to get df_features and df_target

In [6]:
df_features=df.drop('price',axis=1)
df_target=df["price"]

## Install library

In [67]:
pip install fastreport==0.0.6

Requirement already satisfied: fastreport==0.0.6 in c:\users\kishore1\anaconda3\lib\site-packages (0.0.6)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the 'C:\Users\Kishore1\anaconda3\python.exe -m pip install --upgrade pip' command.

## Import library

In [7]:
import report

## Report

In [10]:
%%time
report.report_regression(df_features,df_target,change_data_type=False)

Shape of data : (2160, 18)
---------------------------------------
Encoding : Dummy Encoding
---------------------------------------
Scaling : None
---------------------------------------
Number of Datapoints : 69120
---------------------------------------
Test size for train test split : 0.3
---------------------------------------
Executing : LinearRegression()
Executing : Lasso()
Executing : Ridge()
Executing : DecisionTreeRegressor()
Executing : RandomForestRegressor()
Executing : GradientBoostingRegressor()
Executing : AdaBoostRegressor()
Executing : XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=None)
Wall time: 2.56 s

,Algorithm_name,R-Squared,Adj. R-Squared,Train-RMSE,Test-RMSE
0,LinearRegression,0.743620,0.738072,131.6332,132.3943
1,Lasso,0.735388,0.729663,133.7297,130.7526
2,Ridge,0.743238,0.737682,131.7312,131.8720
3,DecisionTreeRegressor,1.000000,1.000000,0.0727,132.1336
4,RandomForestRegressor,0.981434,0.981033,35.4224,98.3806
5,GradientBoostingRegressor,0.927901,0.926341,69.8053,98.2396
6,AdaBoostRegressor,0.818867,0.814948,110.6424,118.6793
7,"XGBRegressor(base_score=0.5, booster='gbtree',...",0.998146,0.998106,11.1949,97.6781